@font-face {
    font-family: "Robot flex";
    src: url(..//font/RobotoFlex-VariableFont_GRAD\,XOPQ\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf);
}

:root {
    --color1: #f8f6f2;
    --color2: #e6ddc6;
    --color3: #b4d8d2;
    --color4: #f5d5cb;
    --color5: #d4e4f0;
    --color6: #e2d4ee;
    --color7: #48e;
    --color8: #ea3323;
    --color9: #c2d2F1;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Robot flex";
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

h2 {
    font-family: 'Robot flex';
    color: #F0F3EE;
}

.container-form {
    background-color: #395886;
    width: fit-content;
    overflow: hidden;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    padding: 12px;
}

.main-section {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    position: relative;
    gap: 50px;
    border-radius: 12px;
}

#creation_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px;
    width: 100%;
}

.creator-header {
    max-width: 500px;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo_perfil {
    width: 30px;
    height: 30px;
    background-color: var(--color7);
    padding: 12px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #628ECB;
    border-radius: 12px;
    padding: 8px;
    gap: 5px;
}

.container_tittle {
    background-color: #55a38B;
}

.container_description {
    background-color: #00876B;
}
.container_date{
    background-color: #006750;
}
div label {
    color: #F0F3EE;
}

.input {
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 5px;
    width: 100%;
}

#description {
    resize: none;
}

#agregar {
    font-size: 14px;
    padding: 8px;
    width: fit-content;
    letter-spacing: 2px;
    background-color: #e1ede0;
    border-radius: 12px;
    font-family: inherit;
    transition: background, .3s, color .3s;
    display: flex;
    border: none;
}

.agregar {
    font-size: 16px;
    display: block;
    animation: crecer 2s ease-in-out infinite;
    color: #005346;
    transition: color 0.4s ease-in-out;
}

.item--1 {
    animation-delay: 0.2;
}

.item--2 {
    animation-delay: 0.4s;
}

.item--3 {
    animation-delay: 0.6s;
}

.item--4 {
    animation-delay: 0.8s;
}

.item--5 {
    animation-delay: 1s;
}

.item--6 {
    animation-delay: 1.2s;
}

.item--7 {
    animation-delay: 1.4s;
}

#agregar:active {
    background-color: var(--color7);
    scale: 0.97;
}
#agregar:active > .agregar {
    color: #d4e4f0;
}
#agregar:hover {
    cursor: pointer;
}

@keyframes crecer {

    0%,100%{
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

a{
    color: #e2d4ee;
    user-select: none;
    text-decoration: none;
}
a:hover{
    color: #d4e4f0;
}