@font-face {
    font-family: "Robot flex";
    src: url(..//font/RobotoFlex-VariableFont_GRAD\,XOPQ\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf);
}

/* Copy paste */
:root {
    --color1: #f8f6f2;
    --color2: #e6ddc6;
    --color3: #b4d8d2;
    --color4: #f5d5cb;
    --color5: #d4e4f0;
    --color6: #e2d4ee;
    --color7: #48e;
    --color8: #ea3323;
    --color9: #c2d2F1;
}

*{
    box-sizing: border-box;
}
body{
    font-family:'Robot flex';
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
}
h2{
    font-family: 'Robot flex';
}
.container-form{
    background-color: var(--color3);
    max-width: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 12px;
    position: relative;
    gap: 50px;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px;
    width: 100%;
}
.form label{
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: var(--color2);
    padding: 5px;
    border-radius: 12px;
    width: 300px;
    position: relative;
    overflow: hidden;
}
.cancel,.cancel-pass{
    position: absolute;
    right: 6px;
    color: var(--color8);
    bottom: 40px;
    transition: bottom, 0.3s ;
} 
:where(.cancel_user,.cancel_mail,.cancel_new_pass,.cancel_confirm_pass){
    position: absolute;
    right: 6px;
    color: var(--color8);
    bottom: 40px;
    transition: bottom, 0.3s ;
}

.form input{
    outline: none;
    border: none;
    padding: 5px;
    border-radius: 5px;
    width: 90%;
}
label span{
    user-select: none;
}
.links a{
    display: inline-block;
    margin-left: 12px;
    margin-top: 5px;

}
.btn1{
    font-size: 14px;
    padding: 8px;
    width: fit-content;
    letter-spacing: 2px;
    background-color: var(--color5);
    border-radius: 12px;
    border:1px solid var(--color6);
    font-family: inherit;
}
.btn1:hover{
    cursor: pointer;
}
.btn1:active{
    background-color: var(--color9);
}
.btn1 ~ span{
    user-select: none;
}
.btn1-registro{
    margin-top: 50px;
}
.aviso{
    transform: translateY(-20px);
    color: red;
    position: absolute;
    text-align: center;
    font-size: 13px;
    text-align: center;
    padding: 0px 5px 0px 5px;
    transition: opacity 0.5s ;
    top: 65%;
    width: fit-content;
    margin: 0;
    opacity: 0;
}
.aviso p{
    margin: none;
}
.container-form::before{
    content: '';
    position: absolute;
    padding: 1px;
    background-color: var(--color7);
    width: 46.5%;
    left: 0;
    bottom: 100px;
}
.container-form::after{
    content: '';
    position: absolute;
    padding: 1px;
    background-color: var(--color7);
    width: 46.5%;
    right:0;
    bottom: 100px;
}
.circule{
    position: absolute;
    bottom: 90px;
}
.logo-google{
    width: 100px;
    margin-top: 80px;
    cursor: pointer;
}
.logo-registro{
    margin-top:21px;
}
#registro{
    margin-top: 10px;
    gap: 10px;
}
.contraseña_aviso{
    position: absolute;
    bottom: 41%;
    font-size: 12px;
    left: 10%;
    color: #f00;
    display: none;
}
