<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="..//style/creator_style.css">
    <title>Cocou </title>
</head>
<body>
    <div class="container-form">
        <header class="creator-header">
            <a href="../templates/pantalla_inicial.html"><span src="" alt="Volver" class="material-symbols-outlined">arrow_back</span></a>
            <h2>Creador de Tareas</h2>
            <span src="" alt="Volver" class="logo_perfil">?</span>
        </header>
        <main class="main-section">
            <form action="" method="post" id="creation_form">
                <div class="container container_tittle">
                <label for="title">Titulo</label>
                <input class="input" type="text" id="title" 
                >
            </div>
            <div class="container container_description">
                <label for="description">Descripción</label>
                <textarea class="input" name="description" id="description" value="No description provided"
                    rows="4" ></textarea>
                </div>
                <div class="container container_date">
                <label for="date">Fecha limite</label>
                <input class="input" type="date" id="date" >
            </div>
                <a href="../templates/gestion_tareas.html" id="agregar">
                    <span class="agregar item--1">A</span>
                    <span class="agregar item--2">g</span>
                    <span class="agregar item--3">r</span>
                    <span class="agregar item--4">e</span>
                    <span class="agregar item--5">g</span>
                    <span class="agregar item--6">a</span>
                    <span class="agregar item--7">r</span>
                </a>
            </form>
        </main>
    </div>
    <script type="module" src="..//js/task_creator.js"></script>
</body>
</html>