<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="..//style/creator_style.css">
    <link rel="stylesheet" href="..//style/managment_style.css">
    <title>Cocou </title>
</head>

<body>
    <div class="container-form">
        <header class="creator-header">
            <a class="back-creator" href="../templates/pantalla_inicial.html">
                <span src="" alt="Volver" class="material-symbols-outlined">arrow_back</span>
            </a>
            <h2>Creador de Tareas</h2>
            <span src="" alt="Volver" class="logo_perfil">?</span>
        </header>
        <main class="main-section">
            <form action="" method="post" id="creation_form">
                <div class="container container_tittle">
                    <label for="title">Titulo</label>
                    <input class="input" type="text" id="title">
                </div>
                <div class="container container_description">
                    <label for="description">Descripción</label>
                    <textarea class="input" name="description" id="description" value="No description provided"
                        rows="4"></textarea>
                </div>
                <div class="container container_date">
                    <label for="date">Fecha limite</label>
                    <input class="input" type="date" id="date">
                </div>
                <input type="submit" id="agregar" value="Agregar">
                </input>
            </form>
        </main>
            <div id="confirmModal" class="modal">
        <div class="modal-content">
            <span class="close-modal material-symbols-outlined">close</span>
            <h3>Tarea Creada Exitosamente</h3>
            <div class="task-details">
                <p><strong>Título:</strong> <span id="modal-task-title"></span></p>
                <p><strong>Prioridad:</strong> <span id="modal-task-priority"></span></p>
                <p><strong>Descripción:</strong> <span id="modal-task-description"></span></p>
                <p><strong>Fecha Límite:</strong> <span id="modal-task-date"></span></p>
            </div>
            <button id="confirmOkBtn" class="modal-btn">Aceptar</button>
        </div>
    </div>
    </div>
    <script type="module" src="..//js/task_creator.js"></script>
</body>

</html>