<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..//style/managment_style.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <title>Cocou</title>
</head>
<body>
    <main class="managment_container" id="gestion_tareas">
        <header class="header">
            <a class="back-managment" href="../templates/pantalla_inicial.html"><span class="material-symbols-outlined">arrow_back</span></a>
            <span class="logo_perfil">?</span>
        </header>
        <div class="container_img">
            <img src="..//img/lista_logo.png" alt="logo_lista">
        </div>
        <div class="container--item container_prioridad" id="">
            <div class="">
                <span>Prioridad</span>
                <span class="material-symbols-outlined">keyboard_double_arrow_down</span>
                <div class="barra_progreso barra--prioridad">
                    <span class="prioridad--item item__color1"></span>
                    <span class="prioridad--item item__color2"></span>
                    <span class="prioridad--item item__color3"></span>
                    <span class="prioridad--item item__color4"></span>
                </div>
            </div>
        </div>
        <div class="container--item container_estado" id="">
            <div class="">
                <span>Estado</span>
                <span class="material-symbols-outlined">keyboard_double_arrow_down</span>
                <div class="barra_progreso barra--estado">
                    <span class="estado--item estado__color1"></span>
                    <span class="estado--item estado__color2"></span>
                    <span class="estado--item estado__color3"></span>
                </div>
            </div>
        </div>
        <div class="container--item container_tarea" id="">
            <div class="">
                <span class="" id="">Tareas</span>
                <span class="material-symbols-outlined" id="">add</span>
            </div>
        </div>
    </main>
    <script  type="module" src="..//js/task_creator.js"></script>
</body>
</html> -->