<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..//style/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet"/>
    <title>Cocou</title>
</head>
<body>
    <div class="container-form">
        <h2>Cocou</h2>
        <form class="form" id="form_inicio">
            <label>
                <span class="material-symbols-outlined ">email</span>
                <input type="email" name="email" id="mail" class="input" placeholder="Email">
                <span class="material-symbols-outlined cancel">cancel</span>
            </label>
            <label>
                <span class="material-symbols-outlined pass">visibility_off</span>
                <input type="password" name="contraseña" placeholder="Contraseña" class="input contraseña">
                <span class="material-symbols-outlined cancel-pass">cancel</span>
            </label>
            <div class="links">
                <a href="registro.html">Resgitrate</a><a href="#">Olvidé mi contraseña</a>
            </div>
            <input class="btn btn1" type="submit" value="Ingresar">
            <span class="material-symbols-outlined  circule">circle</span>
            <div>
                <img src="..//img/google-logo.png" alt="logo-google" class="logo-google">
            </div>
        </form>
    </div>
    <script type="module" src="..//js/inicio.js"></script>
</body>
</html>