<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="..//style/home_style.css">
    <title>Cocou</title>
</head>

<body>
    <main class="container">
        <header class="container__header">
            <!-- <h2 id="bienvenida">Bienvenido {UserName}</h2> -->
            <div class="container__header__icons">
                <a href="#"><img src="..//img/grupo.png" alt="img_equipo"></a>
                <a href="#"><img src="..//img/klipartz.com.png" alt="img_calendario"></a>
                <a href="../templates/gestion_tareas.html"><img src="..//img/lista_logo.png" alt="img_lista"></a>
                <a href="#"><img src="..//img/notifiaciones.png" alt="img_notificaciones"></a>
            </div>
        </header>
        <section class="container__members">
            <div class="members">
                <img src="..//img/user_logo.png" alt="img_miembro">
                <span class="material-symbols-outlined">check</span>
            </div>
            <div class="members">
                <img src="..//img/user_logo.png" alt="img_miembro">
                <span class="material-symbols-outlined">check</span>
            </div>
            <div class="members">
                <img src="..//img/user_logo.png" alt="img_miembro">
                <span class="material-symbols-outlined">timer</span>
            </div>
            <div class="members">
                <img src="..//img/user_logo.png" alt="img_miembro">
                <span class="material-symbols-outlined">timer</span>
            </div>
        </section>
        <section class="container__task">
            <span class="material-symbols-outlined">add</span>
            <a href="..//templates/creador_de_tareas.html" ><span class="">Crear una nueva tarea</span></a>
        </section>
    </main>
    <script type="module" src="..//js/pantalla_inicial.js"></script>
</body>

</html>